[submodule "include/pico-sdk"]
	path = include/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "include/eigen"]
	path = include/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "include/pico-logger"]
	path = include/pico-logger
	url = https://github.com/rocketryvt/pico-logger.git
[submodule "include/FreeRTOS"]
	path = include/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
